<ion-content padding>
    <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary"  stacked>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
        </ion-item>
        <button block ion-button round (click)="doLogin()">Entrar</button>
        <span>No estás registrado? <span style="color:lightskyblue" [navPush]="register">Registrate acá</span></span>
</ion-content>
