<ion-content padding>


    <ion-list>
        <ion-card *ngFor="let i of items">

            <img src="assets/map.png">
            <ion-fab right top>
              <button ion-fab>
                <ion-icon name="pin"></ion-icon>
              </button>
            </ion-fab>
          
            <ion-item>
              <ion-icon name="sad" item-start large></ion-icon>
              <h2>{{i.title}}</h2>
              <p>{{i.location}}</p>
            </ion-item>
          
            <ion-item>
              <span item-start>{{i.date}}</span>
              <span item-start>({{i.time}})</span>
              <button ion-button icon-start clear item-end [navPush]="reportDetail" [navParams]="i.id">
                <ion-icon name="search"></ion-icon>
                Ver más
              </button>
            </ion-item>
          
          </ion-card>
      </ion-list>
     
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>


    <ion-fab bottom right >
        <button ion-fab>+</button>
        <ion-fab-list side="top">
          <button ion-fab style="background: #3498db;">
              <ion-icon name="ios-megaphone" item-start large></ion-icon>
          </button>
          <button ion-fab style="background: #3498db;"><ion-icon name="ios-call" item-start large></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left">
          <button ion-fab style="background: #e74c3c;" (click)="closeSession()">
              <ion-icon name="ios-close-circle" item-start large></ion-icon>
          </button>
          <button ion-fab style="background: #943ce7;" (click)="landscapePage()">
            <ion-icon name="ios-phone-landscape" item-start large></ion-icon>
        </button>
        </ion-fab-list>
      </ion-fab>  
</ion-content>
