<ion-slides pager paginationType="progress">

  <ion-slide class="coolSlide" style="background: #3498db" padding>
    <h2>En la juegapp</h2>
    <p>Reporta los robos de tu ciudad para ayudar a otros ciudadanos a no dar papaya</p>
    <p>Porque acá uno no puede vivir tranquilo y estar tranquilo es dar papaya.</p>
  </ion-slide>

  <ion-slide class="coolSlide" style="background: #e74c3c">

  </ion-slide>

  <ion-slide class="coolSlide" style="background: #34495e">
    <h2>Bienvenid@s a en la juegapp</h2>
    <button ion-button full (click)="endTutorial()">Ingresa ya!</button>
  </ion-slide>

</ion-slides>